In [3]:
import psycopg2

In [4]:
conn = psycopg2.connect("host=127.0.0.1 dbname=data_engineering user=mohsin password=python")

In [5]:
conn.set_session(autocommit=True)

In [6]:
cur = conn.cursor()

In [7]:
cur.execute('CREATE TABLE test123 (col1 int, col2 int, col3 int);')

In [8]:
cur.execute("SELECT * FROM test123;")

In [9]:
cur.execute("SELECT COUNT(*) FROM test123")
print (cur.fetchall())

[(0,)]

In [10]:
cur.execute('DROP TABLE test123;')