In [45]:
import psycopg2

In [46]:
try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=udacity user=mohsin password=python")
except psycopg2.Error as err:
    print ("Error: Couldn't connect with Postgres Database")
    print (err)
    
try:
    cur = conn.cursor()
except psycopg2.Error as err:
    print ("Error: Couldn't get the cursor.")
    print (err)
    
conn.set_session(autocommit=True)

In [47]:
try:
    cur.execute('CREATE TABLE IF NOT EXISTS music_library (album_id int,\
                 album_name varchar, artist_name varchar, year int, songs text[]);')
except psycopg2.Error as err:
    print ("Error: Issue creating the table")
    print (err)

In [48]:
query = "INSERT INTO music_library (album_id, album_name, artist_name, year, songs) VALUES \
         (%s, %s, %s, %s, %s)";
try:
    cur.execute(query,(1,'Rubber Soul','The Beatles',1965, ['Song-1','Song-2','Song-3']))
except psycopg2.Error as err:
    print ("Error: Couldn't insert into the database")
    print (err)
    
try:
    cur.execute(query,(2,'Let it be','The Beatles',1965, ['Song-4','Song-5']))
except psycopg2.Error as err:
    print ("Error: Couldn't insert into the database")
    print (err)

try:
    cur.execute("SELECT * FROM music_library;")
except psycopg2.Error as err:
    print ("Error: SELECT * ")
    print (err)
row = cur.fetchone()
while row:
    print (row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, ['Song-1', 'Song-2', 'Song-3'])
(2, 'Let it be', 'The Beatles', 1965, ['Song-4', 'Song-5'])

# First Normal Form

In [49]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS music_library2 (album_id int,\
                 album_name varchar, artist_name varchar, year int, song_name varchar);")
except psycopg2.Error as err:
    print ("Error: Couldn't create the table.")
    print (err)

In [50]:
query = "INSERT INTO music_library2 (album_id, album_name, artist_name, year, song_name) VALUES \
         (%s, %s, %s, %s, %s)";


try:
    cur.execute(query,(1,'Rubber Soul','The Beatles',1965, 'Song-1'))
except psycopg2.Error as err:
    print ("Error: Couldn't insert into the database")
    print (err)
    
try:
    cur.execute(query,(1,'Rubber Soul','The Beatles',1965, 'Song-2'))
except psycopg2.Error as err:
    print ("Error: Couldn't insert into the database")
    print (err)
    
try:
    cur.execute(query,(1,'Rubber Soul','The Beatles',1965, 'Song-3'))
except psycopg2.Error as err:
    print ("Error: Couldn't insert into the database")
    print (err)
    
try:
    cur.execute(query,(2,'Let it be','The Beatles',1965, 'Song-4'))
except psycopg2.Error as err:
    print ("Error: Couldn't insert into the database")
    print (err)
    
try:
    cur.execute(query,(2,'Let it be','The Beatles',1965, 'Song-5'))
except psycopg2.Error as err:
    print ("Error: Couldn't insert into the database")
    print (err)
    
try:
    cur.execute("SELECT * FROM music_library2")
except psycopg2.Error as err:
    print ("Error: Couldn't get the result")
    print (err)
    
row = cur.fetchone()

while row:
    print (row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, 'Song-1')
(1, 'Rubber Soul', 'The Beatles', 1965, 'Song-2')
(1, 'Rubber Soul', 'The Beatles', 1965, 'Song-3')
(2, 'Let it be', 'The Beatles', 1965, 'Song-4')
(2, 'Let it be', 'The Beatles', 1965, 'Song-5')

# Second Normal Form

In [51]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS album_library (album_id int, \
                 album_name varchar, artist_name varchar, year int)")
except psycopg2.Error as err:
    print ("Error: Couldn't create the table.")
    print (err)

try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_library (song_id int, \
                 album_id int, song_name varchar)")
except psycopg2.Error as err:
    print ("Error: Couldn't create the table.")
    print (err)

In [52]:
query = "INSERT INTO album_library (album_id, album_name, artist_name, year) VALUES(%s, %s, %s, %s)"
try:
    cur.execute(query,(1,'Rubber Soul','The Beatles',1965))
except psycopg2.Error as err:
    print ("Error: Couldn't insert the data.")
    print (err)
    
try:
    cur.execute(query,(2,'Let it be','The Beatles',1970))
except psycopg2.Error as err:
    print ("Error: Couldn't insert the data.")
    print (err)
    
try:
    cur.execute("SELECT * FROM album_library")
except psycopg2.Error as err:
    print ("Couldn't get the data.")
    print (err)

row = cur.fetchone()
while row:
    print (row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965)
(2, 'Let it be', 'The Beatles', 1970)

In [53]:
query = "INSERT INTO song_library (song_id, album_id, song_name) VALUES(%s, %s, %s)"
try:
    cur.execute(query,(1,1,'Song-1'))
except psycopg2.Error as err:
    print ("Error: Couldn't insert the data.")
    print (err)
    
try:
    cur.execute(query,(2,1,'Song-2'))
except psycopg2.Error as err:
    print ("Error: Couldn't insert the data.")
    print (err)
    
try:
    cur.execute(query,(3,1,'Song-3'))
except psycopg2.Error as err:
    print ("Error: Couldn't insert the data.")
    print (err)
    
try:
    cur.execute(query,(4,2,'Song-4'))
except psycopg2.Error as err:
    print ("Error: Couldn't insert the data.")
    print (err)
    
try:
    cur.execute(query,(5,2,'Song-5'))
except psycopg2.Error as err:
    print ("Error: Couldn't insert the data.")
    print (err)
    

try:
    cur.execute("SELECT * FROM song_library")
except psycopg2.Error as err:
    print ("Couldn't get the data.")
    print (err)

row = cur.fetchone()
while row:
    print (row)
    row = cur.fetchone()

(1, 1, 'Song-1')
(2, 1, 'Song-2')
(3, 1, 'Song-3')
(4, 2, 'Song-4')
(5, 2, 'Song-5')

In [54]:
query = "SELECT * FROM album_library JOIN song_library ON album_library.album_id=song_library.album_id;"
try:
    cur.execute(query)
except psycopg2.Error as err:
    print ("Error: SELECT *")
    print (err)

row = cur.fetchone()
while row:
    print (row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, 1, 1, 'Song-1')
(1, 'Rubber Soul', 'The Beatles', 1965, 2, 1, 'Song-2')
(1, 'Rubber Soul', 'The Beatles', 1965, 3, 1, 'Song-3')
(2, 'Let it be', 'The Beatles', 1970, 4, 2, 'Song-4')
(2, 'Let it be', 'The Beatles', 1970, 5, 2, 'Song-5')

# Third Normal Form

In [55]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS album_library2 (album_id int, album_name varchar, artist_id int, year int)")
except psycopg2.Error as err:
    print ("Error: Couldn't create the table.")
    print (err)

try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_library2 (song_id int, album_id int, song_name varchar);")
except psycopg2.Error as err:
    print ("Error: Couldn't create the table.")
    print (err)
try:
    cur.execute("CREATE TABLE IF NOT EXISTS artist_library (artist_id int, artist_name varchar);")
except psycopg2.Error as err:
    print ("Error: Couldn't create the table.")
    print (err)

In [56]:
try:
    cur.execute("INSERT INTO artist_library (artist_id, artist_name) VALUES (%s, %s)", (1,'The Beatles'))
except psycopg2.Error as err:
    print ("Error: Couldn't create the table.")
    print (err)

In [57]:
try:
    cur.execute("SELECT * FROM artist_library;")
except psycopg2.Error as err:
    print ("Error: Couldn't get data")
    print (err)

row = cur.fetchone()
while row:
    print (row)
    row = cur.fetchone()

(1, 'The Beatles')

In [58]:
query = "INSERT INTO album_library2 (album_id, album_name, artist_id, year) VALUES (%s, %s, %s, %s)"
try:
    cur.execute(query,(1,'Rubber Soul',1,1965))
except psycopg2.Error as err:
    print ("Error: Couldn't insert data.")
    print (err)

try:
    cur.execute(query,(2,'Let it be',1,1970))
except psycopg2.Error as err:
    print ("Error: Couldn't insert data.")
    print (err)

In [59]:
query = "INSERT INTO song_library2 (song_id, album_id, song_name) VALUES (%s, %s, %s)"
try:
    cur.execute(query,(1,1,"Song-1"))
except psycopg2.Error as err:
    print ("Error: Couldn't insert data.")
    print (err)

try:
    cur.execute(query,(2,1,'Song-2'))
except psycopg2.Error as err:
    print ("Error: Couldn't insert data.")
    print (err)
    
try:
    cur.execute(query,(3,1,'Song-3'))
except psycopg2.Error as err:
    print ("Error: Couldn't insert data.")
    print (err)

try:
    cur.execute(query,(4,2,'Song-4'))
except psycopg2.Error as err:
    print ("Error: Couldn't insert data.")
    print (err)
    
try:
    cur.execute(query,(5,2,'Song-5'))
except psycopg2.Error as err:
    print ("Error: Couldn't insert data.")
    print (err)

In [60]:
try:
    cur.execute("SELECT * FROM song_library2;")
except psycopg2.Error as err:
    print ("Error: Couldn't insert the data.")
    print (err)

row = cur.fetchone()
while row:
    print (row)
    row = cur.fetchone()

(1, 1, 'Song-1')
(2, 1, 'Song-2')
(3, 1, 'Song-3')
(4, 2, 'Song-4')
(5, 2, 'Song-5')

In [61]:
query = "SELECT * FROM (artist_library JOIN album_library2 ON artist_library.artist_id=album_library2.artist_id) \
         JOIN song_library2 ON album_library2.album_id=song_library2.album_id"
try:
    cur.execute(query)
except psycopg2.Error as err:
    print ("Error: Couldn't get data")
    print (err)

row = cur.fetchone()
while row:
    print (row)
    row = cur.fetchone()

(1, 'The Beatles', 1, 'Rubber Soul', 1, 1965, 1, 1, 'Song-1')
(1, 'The Beatles', 1, 'Rubber Soul', 1, 1965, 2, 1, 'Song-2')
(1, 'The Beatles', 1, 'Rubber Soul', 1, 1965, 3, 1, 'Song-3')
(1, 'The Beatles', 2, 'Let it be', 1, 1970, 4, 2, 'Song-4')
(1, 'The Beatles', 2, 'Let it be', 1, 1970, 5, 2, 'Song-5')

In [62]:
try:
    cur.execute("DROP TABLE music_library")
    cur.execute("DROP TABLE music_library2")
    cur.execute("DROP TABLE album_library")
    cur.execute("DROP TABLE album_library2")
    cur.execute("DROP TABLE song_library")
    cur.execute("DROP TABLE song_library2")
    cur.execute("DROP TABLE artist_library")
except psycopg2.Error as err:
    print ("Error: Dropping the tables.")
    print (err)