In [24]:
import cassandra

In [25]:
from cassandra.cluster import Cluster

In [26]:
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print (e)

In [27]:
try:
    session.execute("""SELECT * FROM music_library""")
except Exception as e:
    print (e)

Error from server: code=2200 [Invalid query] message="No keyspace has been specified. USE a keyspace, or explicitly specify keyspace.tablename"

In [28]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity
    WITH REPLICATION = 
    { 'class':'SimpleStrategy','replication_factor':1 }
    """)
except Exception as e:
    print (e)

In [29]:
try:
    session.set_keyspace("udacity")
except Exception as e:
    print (e)

In [35]:
query = "CREATE TABLE IF NOT EXISTS music_library "
query = query + " (year int, artist_name text, album_name text, PRIMARY KEY (year, artist_name))"
try:
    session.execute(query)
except Exception as e:
    print (e)

In [36]:
query = "SELECT COUNT(*) FROM music_library"
try:
    count = session.execute(query)
except Exception as e:
    print (e)
print (count.one())

Row(count=2)

In [37]:
query = "INSERT INTO music_library (year, artist_name, album_name) VALUES (%s, %s, %s)"
try:
    session.execute(query,(1970,"The Beatles","Let it Be"))
except Exception as e:
    print (e)
    
try:
    session.execute(query,(1965,"The Beatles","Rubber Soul"))
except Exception as e:
    print (e)

In [38]:
query = "SELECT * FROM music_library"
try:
    rows = session.execute(query)
except Exception as e:
    print (e)

for row in rows:
    print (row)

Row(year=1965, artist_name='The Beatles', album_name='Rubber Soul')
Row(year=1970, artist_name='The Beatles', album_name='Let it Be')

In [39]:
query = "SELECT * FROM music_library WHERE YEAR=1970"
try:
    rows = session.execute(query)
except Exception as e:
    print (e)

for row in rows:
    print (row)

Row(year=1970, artist_name='The Beatles', album_name='Let it Be')

In [40]:
query = "DROP TABLE music_library"
try:
    rows = session.execute(query)
except Exception as e:
    print (e)

In [41]:
session.shutdown()
cluster.shutdown()